/* * {
    border: 1px solid red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 60px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* margin-left: 5%; */
}

.navbar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin-left: 5%;
}

.nav-item{
    margin: 10px;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: pink;
}

.background{
    z-index: -1;
    width: 100%;
    position: fixed;
    margin-top: -100px;
}

.landing{
    z-index: 1;
    height: 3em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 3em;
}

.showfeat{
    z-index: 1;
    height: 3em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 1.5em;
}

.main-tile-dimensions{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding-bottom: 20px;
}

.image-container-show{
    height: 600px;
    width: 100px;
}

.wrap-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    flex-grow: 1;
    background-color: black;
}

footer{
    margin-bottom: 0px;
}

.bottom{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map{
    width: 250px;
    padding: 2%;
    padding-left: 100px;
}

.mapimg{
    width: 250px;
}

.footinfo{
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.social{
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foothead{
    font-size: 1.2em;
}

.tiny{
    margin: 3px;
} */